<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

<!-- user actions -->
<bean id="userAction" class="action.userAction" scope="prototype"></bean>
<bean id="payAction" class="action.payAction" scope="prototype"></bean>
<bean id="funcAction" class="action.funcAction" scope="prototype"></bean>
<bean id="showAction" class="action.showAction" scope="prototype"></bean>
<bean id="getPayInfo" class="action.preEditPayAction" scope="prototype"></bean>
<bean id="finishAction" class="action.finishAA" scope="prototype"></bean>
<bean id="AAUserAction" class="action.editAAUser" scope="prototype"></bean>
<bean id="preAAUserAction" class="action.editAAUser_Pre" scope="prototype"></bean>
<bean id="removeAllMyPay" class="action.removeAllMyPay" scope="prototype"></bean>
</beans>